<ng-container [formGroup]="form">
    <div class="row">
        <mat-checkbox formControlName="declare1">Accept</mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox formControlName="declare2">Accept</mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox formControlName="declare3">Accept</mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox formControlName="declare4">Accept</mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox formControlName="declare5">Accept</mat-checkbox>
    </div>
</ng-container>