<h2>Normal Angular Forms</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="normForm" (ngSubmit)="ngSubmitRecord()">

        <div class="row">
            <mat-form-field>
                <mat-label>First name</mat-label>
                <input type="text" matInput formControlName="firstName">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input type="text" matInput formControlName="lastName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Email Id</mat-label>
                <input type="text" matInput formControlName="emailId">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dofBirth">
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput formControlName="phone">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group formControlName="gender">
                <mat-label>Gender</mat-label>
                <mat-radio-button value="male"> Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Education</mat-label>
                <input type="text" matInput formControlName="education">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Company</mat-label>
                <input type="text" matInput formControlName="company">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Experience</mat-label>
                <input type="text" matInput formControlName="experience">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Package</mat-label>
                <input type="text" matInput formControlName="package">
            </mat-form-field>
        </div>

        <div formArrayName="degrees">
            <div class="row" *ngFor="let de of getAllItems.controls; let i = index" [formGroupName]="i">
                <!-- <mat-card > -->
                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <input type="text" matInput formControlName="type">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>File</mat-label>
                        <input type="text" matInput formControlName="file">
                    </mat-form-field>
                <!-- </mat-card> -->
            </div>
        </div>

        <div class="row">
            <button mat-raised-button color="primary" type="button" (click)="addItems()"> Add </button>
        </div>
        <div>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="warn" type="submit">Submit</button>
        </div>

    </form>

</mat-dialog-content>