<!-- <ng-container>
    <div [formGroup]="formBank">
        <div formArrayName="newBank">
            <div class="row" *ngFor="let ng of newBankDetail.controls; let newIndex = index" [formGroupName]="newIndex">

                <div class="row">
                    <mat-form-field>
                        <mat-label>Account Type</mat-label>
                        <mat-select formControlName="accountType">
                            <mat-option value="1">Savings</mat-option>
                            <mat-option value="2">Current</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Account No</mat-label>
                        <input type="text" matInput formControlName="accountNo">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field>
                        <mat-label>IFSC code</mat-label>
                        <input type="text" matInput formControlName="ifscCode">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Account Name</mat-label>
                        <input type="text" matInput formControlName="accountName">
                    </mat-form-field>
                </div>

            </div>
        </div>
    </div>
</ng-container> -->